language: go
go:
  - 1.10.x
env:
  - PROTOTOOL_VERSION=0.4.0 PROTOTOOL_BIN=~/bin/0.4.0/prototool
cache:
    directories:
      - ~/bin/
      - ~/.cache/prototool/Linux/x86_64/protobuf/
      # Cache dep data 
      - /tmp/depcache
install:
  - mkdir -p ~/bin
  - PROTOTOOL_VERSION=$PROTOTOOL_VERSION ./scripts/install_prototool.sh
  - make install

script:
  - make lint 
  - make gen_go gen_swagger 
  - echo "Checking that prototool gen doesn't result in a modified git tree" && git diff --exit-code gen/
  - if [ $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" ]; then
        ./scripts/push_to_swagger.sh;
    fi
