language: go
go:
  - 1.11.4
env:
  - PROTOTOOL_VERSION=1.3.0 PROTOTOOL_BIN=~/bin/1.3.0/prototool
cache:
    directories:
      - ~/bin/
      - ~/.cache/prototool/Linux/x86_64/protobuf/
      # Cache dep data
      - /tmp/depcache
install:
  - make install

jobs:
    include:
    - stage: test
      script:
        - make all
        - echo "Checking that prototool gen doesn't result in a modified git tree" && git diff --exit-code gen/
