language: go
go:
  - 1.10.x
env:
  - PROTOTOOL_VERSION=0.2.0
cache:
    directories:
      - ~/bin/
      - ~/.cache/prototool/Linux/x86_64/protobuf/
      # Cache the glide binary
      - ~/glide/
      # Glide's own cache
      - ~/.glide
install:
  - mkdir -p ~/bin
  - scripts/install_glide.sh
  - glide install
  - go get github.com/roboll/go-vendorinstall
  - go install github.com/CentrifugeInc/centrifuge-protobufs/vendor/github.com/roboll/go-vendorinstall
  - go-vendorinstall  github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway
  - go-vendorinstall github.com/golang/protobuf/protoc-gen-go
  - go-vendorinstall github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger
  - PROTOTOOL_VERSION=$PROTOTOOL_VERSION ./scripts/install_prototool.sh
  - npm install

script:
  - ~/bin/$PROTOTOOL_VERSION/prototool lint
  - ~/bin/$PROTOTOOL_VERSION/prototool gen
  - npm merge-swagger
  - echo "Checking that `prototool gen` doesn't result in a modified git tree" && git diff --exit-code
