# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

required = ["github.com/roboll/go-vendorinstall", "github.com/centrifuge/precise-proofs/proofs", "github.com/golang/protobuf/protoc-gen-go", "github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway"]

[[prune.project]]
    name = "github.com/centrifuge/precise-proofs"
    non-go = false
    unused-packages = false
    
[[constraint]]
    name = "github.com/centrifuge/precise-proofs"
    revision = "f8ef5392db436f8678e972810bf919c0406d1b83"

[[constraint]]
  name = "github.com/grpc-ecosystem/grpc-gateway"
  source = "git@github.com:grpc-ecosystem/grpc-gateway"
  version = "1.4.1"

[[prune.project]]
    name = "github.com/grpc-ecosystem/grpc-gateway"
    non-go = false
    unused-packages = false


[[constraint]]
  name = "google.golang.org/grpc"
  version = "1.13.0"

[prune]
  go-tests = true
  unused-packages = true
